@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

body{
  font-family: 'Open Sans',serif;
}

#logoutBTN:hover{
    cursor: pointer;
    font-weight: bold;
  }
.txt-center{
    text-align: right;
    
   
}
.bg{
  background-color: rgba(194, 222, 247, 0.751);
}
.fbtn{
    width: 100%;
    margin-bottom: 8px;
}

body{
    background-image: url('https://storage.googleapis.com/tyg-stage-b8e16.appspot.com/static/bgimg.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
    /* background-size:100%; */
  }
  
  
.rtl{
        direction: rtl;
        text-align: right;
    }
#logOutIcon{
    font-size: 1.6rem;
    
  }
  
  nav div ul li a{
    /* background: #d496d449; */
    border-bottom: none !important ;
    transition: all 2s !important; 
    
  }
  nav div ul li a:hover{
    border-bottom: 1px solid #55acee !important;
    /* background-color: #e3d2f37c; */
  }
  #admin{
    display: none;
  }
  #title{
    color: #5970af; font-family: 'Helvetica Neue', sans-serif; 
    font-weight: bold;
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
    font-size:80px !important; 
  }

  @media only screen and (max-width: 600px) {
    #title{
     font-size: 30px !important; 
  }
}



