.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.fbtn{
    width: 100%;
    margin-bottom: 8px;
}

body {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/tyg-stage-b8e16.appspot.com/o/800%2Flogo.png?alt=media&token=5424e1b5-5a2d-462b-82ff-40b18747603e");
    background-repeat: repeat-y;
  }